.pages {
  height: 256px;
  width: 256px;
}

.page {
  page-break-after: always; /* Establece un salto de página después de cada capa */
  margin-bottom: 20px; /* Espacio entre capas */
  /* height: 100%;
  width: 100%;
  user-select: none;
  touch-action: none; */
}

/* .page1 {
  background-color: gray;
}

.page2 {
  background-color: gray;
}

.page3 {
  background-color: aqua;
} */
